*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(24, 8, 98);
    color: #fff;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.main{
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    width: 70vw;
    height: 70vh;
    background-color: #2e2d31;
    box-shadow: 0 0 5px 0px rgb(209, 203, 214);

}

h1{
    color: #f3f3f3;
    background-color: #333;
    padding: 10px 12px;
    text-align: center;
    margin: 10px 10px;
    width: 90%;
    box-shadow: 0 0 5px 0px rgb(209, 203, 214);
}

h3{
    margin: 15px 10px;
}
.para{
    width: 70%;
    background: rgb(57, 55, 58);
    padding: 10px;
}
p{
    padding: 10px;
}