body {
  background-color: #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  min-width: 100%;
  max-width: 600px;
  max-height: 70px;
  margin: 12px 12px;
  /* background-color: #FF4500; */
  /* border: 1px solid; */
  text-align: center;
}

header h1 {
  color: #f5f5dc;
  font-size: 34px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
}

main {
  height: 75vh;
  width: 70vw;
  background-color: #001f3f;
  padding: 20px 0;
  margin: 20px 0 50px 0;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px #766255;
}

main .magic-section {
  width: 90%;
  /* border: 1px solid #fff; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 20px;
  position: relative;
}

.inputContainer {
  /* background-color: #c9c2ce; */
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#userInput {
  height: 30px;
  width: 300px;
  padding: 5px 5px;
  margin: 10px 10px;
  border-radius: 25px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

#btnAsk {
  height: 40px;
  width: 150px;
  margin-bottom: 10px;
  border-radius: 6px;
  font-size: 24px;
  cursor: pointer;
}
#btnAsk:hover {
  color: #001f3f;
}
.output {
    position: relative;
  /* background-color: #fff; */
  height: 400px;
  width: 100%;
  margin: 10px 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background: url(./image1.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(5, 25, 2, 0.2);
  border-radius: 10px;
}
.overlay {
  height: 400px;
  width: 99%;
  margin: 10px 0;
  padding: 5px;
  background-color: rgba(23, 29, 119, 0.368);
  position: absolute;
  bottom: 0;
  top: -10px;
  left: 0;
  border-radius: 10px;
  right: 0;
}



#printUserInput,
#response,
.warning {
  background-color: #ffffff;
  color: #001f3f;
  max-width: 100%;
  padding: 6px 10px;
  margin: 10px 10px;
  font-size: 24px;
  border-radius: 5px;
  display: none;
}

.warning {
  background-color: #fff;
  color: rgb(182, 15, 15);
  /* transform:skew(5); */
}
